<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <filter>
        <whitelist name="Testes">
            <directory suffix=".php">tests/</directory>
            <directory suffix=".php">src/**/</directory>
        </whitelist>
    </filter>
</phpunit>